@CHARSET "UTF-8";


body	{
    background-image:url("bg1.png");
    background-repeat:repeat;
	background-color: #D2B48C;
	margin-left:50px;
	margin-right:50px;
	
}

#start{
	background-image:url("start.png");
	position: absolute;
	width: 226px;
	height: 134px;
	top: 630px;
	left: 680px;
}

/*Mangijate ruudustikud*/

#grid1		{
	background-image:url("grid1.png");
	position: absolute;
	top: 268px;
	left: 120px;
	width: 350px;
	height: 354px;
}

#grid2		{
	background-image:url("grid2.png");
	position: absolute;
	top: 268px;
	left: 550px;
	width: 350px;
	height: 354px;
}

/*Tekstid*/

#title{
	background-image:url("title.png");
	position: absolute;
	top: 170px;
	left: 100px;
	width: 340px;
	height: 82px;	
}

#enemy{
	background-image:url("enemy.png");
	position: absolute;
	top: 630px;
	left: 570px;
	width: 86px;
	height: 27px;
			
}

#player{
	background-image:url("player.png");
	position: absolute;
	top: 628px;
	left: 160px;
	width: 84px;
	height: 29px;
	
}

#year{
	background-image:url("2012.png");
	position: absolute;
	top: 850px;
	left: 800px;
	width: 43px;
	height: 14px;	
}

/*Mangulaua taust*/

#notebook{
	background-image:url("bg2.png");
	position: absolute;
	width: 999px;
	height: 920px;
}

/*Mangu laevastik*/

#notes{
	background-image:url("instr.png");
	position: absolute;
	width: 498px;
	height: 342px;
	top: 790px;
	left: 100px;
}

#pencil{
	background-image:url("pencil.png");
	position: absolute;
	width: 276px;
	height: 154px;
	top: 720px;
	left: 460px;
}

